body{
  background-color: #dcdcdc;
}
.container {
  width: 800px;
  margin: 0 auto;
}
.container__title{
  font-family: Arial, sans-serif;
  color: #ffffff;
}

.container__text {
  width: calc(100% - 50px);
  border-radius: 25px;
  padding: 25px;
  font-size: 18px;
  border: none;
}

.container__keyboard {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  gap: 10px;
}

.keyboard__key {
  height: 45px;
  border-radius: 25px;
  border: none;
  transition: all 0.5s;
  cursor: pointer;
}
.keyboard__key:hover {
  background-color: blueviolet;
  color: #ffffff;
  transition: all 0.5s;
}
.keyboard__key:active {
  background-color: blueviolet;
  border-radius: 5px;
  color: #ffffff;
  transition: all 0.5s;
}

.backspace,
.capslock,
.enter,
.shiftleft,
.shiftright {
  grid-column: span 2;
}
.space{
  grid-column: span 7;
}